nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #0a7800;
    color: #fdf0d5;
    padding: 2rem;
}

nav img{
    width: 5rem;
}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    font-size: 1.2rem;
}